body{
    
    background-color: beige;
   background-image: url("21_background\ image.png");
   background-repeat: no-repeat;
   background-position: center 150px;
   background-attachment: fixed;
}
p{
    text-align:justify;
}