    body{
        margin: 0px;
        
        
    }
    #gradient_style{
        height: 900px;
        width: 100%;
        background-image: linear-gradient(to right,red,green,gray,yellow,orange);
        
    }
    #form{
        text-align: center;
        background-color: beige;
        width: 400px;
        height: 400px;
    }